@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

body{
    margin: 20px;
    user-select: none;


}

.header{
    font-family: 'Berkshire Swash', cursive;
    color: #483884;
   
    font-size:3rem;
}
 
.balance-box{
background-color: #5f4f99;
height:120px;
border-radius: 20px;
padding:20px;
}


.balance-text{
    font-family: 'Candal', sans-serif;
    color: white;
    font-size: 15pt;
}

.balance-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
}






.add-btn{
    color: red;
    
}

.add-btn:hover{
    transform: scale(1.1);
    transition: transform 500ms ease-in-out;

}


.textbox{
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    text-align: center;
}

.textbox:hover{
    box-shadow: 5px 5px 10px rgb(71, 67, 67);
    transition: box-shadow 0.5s ease-in-out;

}

.centered{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    padding-right:15px;
}



.category-box{
    background-color:white;
    width:500px;
    height:300px;
    padding:20px;
   
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;

    

}

.category-box:hover{
    box-shadow: 10px 10px 20px rgb(71, 67, 67);
    transition: box-shadow 0.5s ease-in-out;
}

.category-box-title{
    font-family: 'Montserrat', sans-serif;
    background-color:white;
    width:500px;
    height:auto;
    padding: 10px;
    border-radius:20px;
    text-align: center;
    color:#483884;
    font-size: 15pt;
    
}



.recent-transactions-titlebox{
    font-family: 'Montserrat', sans-serif;
    background-color:#483884;
    width:500px;
    height:auto;
    padding: 10px;
    border-radius:20px;
    text-align: center;
    color:#483884;
    font-size: 15pt;
}

.recent-transactions-contentbox{
    font-family: 'Montserrat', sans-serif;
    padding:20px;
    background-color: #7062a0;
    width: 100%;
    border-radius: 20px;
}

.recent-transactions-contentbox:hover{
    box-shadow: 10px 10px 20px rgb(71, 67, 67);
    transition: box-shadow 0.5s ease-in-out;
}
.transaction-box{
    background-color:white;
    width:90%;
    margin: 20px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    color: #483884;
}

.category-icon{
    
    border-radius: 10px;
    padding: 5px;
    
    user-select: none;
}

.category-icon:hover{
    transform: scale(1.1);
   
    transition: transform 500ms ease-in-out;
   
    border: 2px solid #7062a0;
    
}

.icons{
    user-select: none;
}

.dropdown-content{
   display: none; 
   background-color:white;
   width:90px;
   height:100px;
   padding: 10px;
   margin: 5px;
   position:absolute;
   border-radius: 20px;
   font-family: 'Montserrat', sans-serif;

   
}

.dropdown-content a{
    color:#483884;
}
.user-profile{
    position:relative;
}

.user-profile:hover{
    transform: scale(1.1);
    transition: transform 500ms ease-in-out;
}
.user-profile:hover .dropdown-content{
    transform: scale(1.1);
    transition: transform 500ms ease-in-out;
    display:block;
}

